<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.AwardLevelMapper">
    <select id="getAwardLevelList" resultType="com.example.demo.entity.AwardLevels">
              select
                id,
                `name` ,
                bg_image as bgImage
               from award_levels
        </select>

    <select id="getLevelById" resultType="com.example.demo.entity.AwardLevels">
                 select
                id,
                `name` ,
                bg_image as bgImage
               from award_levels
               where id =#{id}
    </select>
    <update id="updateLevel" parameterType="com.example.demo.entity.AwardLevels">
        update award_levels
        <set>
            <if test="name!=null and name != ''">
                `name` =#{name},
            </if>
            <if test="bgImage!=null and bgImage != ''">
                bg_image =#{bgImage},
            </if>
        </set>
        <where>
            id =#{id}
        </where>
    </update>
</mapper>